<form action="/break/ <%= Casser.idtv %>" method="post">
    <h1>Que s'est-il passée ?</h1>
    <input type="text" name="broken" value="">
    <input type="submit" name="Save" value="Envoit de la requête">
</form>